<!-- Content Series Section -->
<section aria-label="Серия контента">
  <div class="py-16 md:py-28 px-5 md:px-10 max-w-[1600px] mx-auto">
    <p class="text-body text-[#151515] text-center tracking-h1 leading-[1.05] max-w-[900px] mx-auto mb-14 series-text">
      От точечного ролика <br>до цельной серии контента <br>в едином визуальном стиле</p>
  </div>
  <div class="w-screen -ml-[calc(50vw-50%)]">
    <img class="w-full h-auto object-cover" alt="Group" src="./static/images/group-3.png">
  </div>
</section>
