<!-- Brand Value Section -->
<section aria-label="Ценность бренда" class="section-padding-value">
  <div class="container-wide">
    <div class="value-bg">
      <div class="value-inner">
        <h2 class="value-heading">Ценность бренда <br>— в первом впечатлении</h2>
        <p class="value-text">Видео помогает эффективно раскрыть продукт,<br>создать эмоцию и остаться в памяти.</p>
        <div class="value-features">
          <div class="value-feature-item">
            <img src="./static/icons/icon-rabbit.svg" alt="" class="value-feature-icon">
            <span>Быстрый запуск</span>
          </div>
          <div class="value-feature-item">
            <img src="./static/icons/icon-content.svg" alt="" class="value-feature-icon">
            <span>Контент для рекламы и соцсетей</span>
          </div>
          <div class="value-feature-item">
            <img src="./static/icons/icon-series.svg" alt="" class="value-feature-icon">
            <span>Серии роликов</span>
          </div>
          <div class="value-feature-item">
            <img src="./static/icons/icon-star.svg" alt="" class="value-feature-icon">
            <span>Яркая подача</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
